---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="bg-slate-100 text-center p-10">
    <h1 class="text-4xl font-bold text-indigo-600">Contacta con Nosotros</h1>
  </div>
</Layout>
