---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="bg-slate-100 text-center p-10">
    <h1 class="text-4xl font-bold text-indigo-600">Bienvenido a SatChit</h1>
    <p class="mt-4 text-gray-600">Tu espacio de equilibrio y bienestar</p>
  </div>
</Layout>
