---

---

<header class="fixed top-0 z-50 w-full left-0 bg-gradient-to-b from-cyan-100 to-white/0">
  <div class="mx-auto px-4 m-4">
    <nav
      class="mx-auto container h-16 p-4
         bg-white border-2 border-cyan-500 rounded-2xl shadow-lg
         flex items-center justify-between"
    >
      <a href="/" class="flex shrink-0 items-center">
        <img
          src="SatChit_Emblem.svg"
          alt="SatChit Emblema"
          class="h-12 w-auto"
        />
      </a>

      <ul class="flex space-x-4 text-sm font-medium">
        <li><a href="/servicios" class="hover:underline">Servicios</a></li>
        <li><a href="/sobre-mi" class="hover:underline">Sobre mí</a></li>
        <li><a href="/contacto" class="hover:underline">Contacto</a></li>
      </ul>
    </nav>
  </div>
</header>
