---

---

<header class="fixed top-0 z-50 w-full left-0 text-white">
  <div class="mx-auto px-4 m-4">
    <nav
      class="mx-auto container h-16 p-4
         bg-slate-600/50 border-2 border-slate-950 rounded-2xl shadow-lg
         flex items-center justify-between"
    >
      <a href="/" class="text-xl font-bold">SatChit</a>
      <ul class="flex space-x-4 text-sm font-medium">
        <li><a href="/servicios" class="hover:underline">Servicios</a></li>
        <li><a href="/sobre-mi" class="hover:underline">Sobre mí</a></li>
        <li><a href="/contacto" class="hover:underline">Contacto</a></li>
      </ul>
    </nav>
  </div>
</header>
