---

---

<section class="text-center max-w-3xl mx-auto px-4 py-8">
  <h1 class="text-3xl font-bold text-violet-500 mb-4">Sobre mí</h1>
  <p class="text-lg text-gray-700">
    Soy Juan García, terapeuta acupuntor en medicina oriental, especializado en
    la gestión del dolor, y guía en prácticas como Tai Chi, Chi Kung y
    meditación terapéutica.
  </p>
</section>
